*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body, html{
    overflow-x: hidden;
    background: #F6F6F6;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    justify-content: center;
    padding-left: 20px;
    /*padding-right: 20px;*/
    background-color: #FBFBFB;
    border-bottom-style: groove;
}
.nav{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
/*aside{
    background-color: aquamarine;
    width: 20%;
    float:left;
}*/
section{
    /*background-color: darksalmon;*/
    /*width: 100%;
    float:left;
    margin: 0 auto;
    max-width: 1100px;*/

}
.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.table-head{
    height: 140px;
    background-color: white;

}
.head1{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head2{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head2.span.i{
    color: lightslategray;
    font-size: 1em;
}
.btnsleft{
    padding-left: 25px;
}
.block{
    /*height: 50px;
    background-color: white;*/
   /* border: 3px solid red;*/
    font-size: 20px;
    color: darksalmon;
    text-decoration: none;
    width: 100px;
    height: 60px;
    margin: 5px;

}
.block i {
    color: darkgrey;
}
.check{
    width: 5%;
}
.favorite{
    width: 5%;
}
.from{
    width: 20%;
}
.subject{
    width: 60%;
}
.date{
    width: 10%;
}
.msg{
    padding-left: 25px;
    font-weight: bold;
}
.search{
    padding-right: 30px;
    position: relative;
}
.search i{
    position: absolute;
    right: 35px;
    top: 12px;
}
.search input{
    height: 40px;
    width: 300px;
}
p{
    font-weight: bold;
}
.btn{
    border: 3px solid #FBFBFB;
    font-size: 10px;
    color: darksalmon;
    text-decoration: none;
    width: 100px;
    height: 60px;
    display: block;
}
.btnsright{
    margin-right: 30px;
}